body {
    font-family: "Alegreya Sans", sans-serif;
    font-size: 14pt;
    line-height: 135%;
    background: rgb(250, 250, 250);
    margin: 0;
}

small {
    display: block;
    text-align: justify;
    font-size: 11pt;
    margin-top: 11pt;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Expletus Sans", "Segoe UI", "Lucidia Grande", sans-serif;
    font-weight: normal;
    line-height: 150%;
    margin-right: 15%;
    margin-left: 20%;
}
h1 {
    font-size: 42pt;
}
h2 {
    font-size: 32pt;
}
h3 {
    font-size: 22pt;
}
h4 {
    font-size: 16pt;
    letter-spacing: 1.2pt;
}
h5 {
    font-size: 14pt;
    letter-spacing: 1.3pt;
    font-weight: bolder;
}
h6 {
    font-size: 12pt;
    letter-spacing: 1.3pt;
    font-weight: bold;
}

p.headline, nav h3, footer h3 {
    font-family: "Teko", sans-serif;
}
p.headline {
    font-size: 20pt;
    line-height: 150%;
    letter-spacing: 1.2pt;
    font-weight: normal;
    margin: 10pt 15% 10pt 20%;
    line-height: 150%;
}
@media(max-width: 600px) {
    p.headline {
        margin: 10pt 15pt 10pt 20pt;
    }
}

a:link {
    text-decoration: none;
    display: inline-block;
    color: rgb(16, 186, 205);
    transition: ease-in-out, .1s;
}
a:visited {
    color: rgb(137, 180, 185);
}
a:hover {
    color: rgb(19, 135, 148);
    transform: scale(1.1);
}
a:active {
    transform: scale(.9);
}

label.sandwitch-menu {
    -webkit-user-select: none;  /* Chrome all / Safari all */
    -moz-user-select: none;     /* Firefox all */
    -ms-user-select: none;      /* IE 10+ */
    user-select: none;          /* Likely future */      
    position: fixed;
    top: 15pt;
    right: 15pt;
    height: 40pt;
    width: 40pt;
    transition: ease-in-out, .1s;
    background: rgba(0,0,0,.8);
    color: white;
    line-height: 100%;
    font-size: 18pt;
    padding: 11pt;
    border-radius: 20pt;
    z-index: 20;
    box-sizing: border-box;
    text-align: center;
}
label.sandwitch-menu:hover {
    background: rgba(0,0,0,.5);
    transform: scale(1.1);
}
label.sandwitch-menu:active {
    transform: scale(.9);
}
label.no-display {
    z-index: -10;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(0,0,0,0);
    transition: ease-in-out, .2s;
}
nav.sandwitch-menu {
    z-index: 18;
    top: 0;
    position: fixed;
    display: block;
    right: -350px;
    transition: ease-in-out, .2s;
    height: 100%;
    width: 300px;
    box-sizing: border-box;
    background: rgb(242, 242, 242);
}
input[type=checkbox].no-display:checked ~ nav.sandwitch-menu {
    right: 0;
}
input[type=checkbox].no-display:checked ~ label.no-display {
    z-index: 16;
    background: rgba(0,0,0,0.1);
}
input[type=checkbox].no-display {
    display: none;
}

figure.hero-image {
    width: 100%;
    display: block;
    margin: 0;
    box-sizing: border-box;
    overflow: hidden;
    background-image: url(https://s-media-cache-ak0.pinimg.com/originals/43/a8/a7/43a8a7399c2606696e90a5fe1d9bfb56.jpg);
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
}
div.hero-image {
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+80,000000+100&0+72,0.8+100 */
background: -moz-linear-gradient(top,  rgba(0,0,0,0) 72%, rgba(0,0,0,0.23) 80%, rgba(0,0,0,0.8) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 72%,rgba(0,0,0,0.23) 80%,rgba(0,0,0,0.8) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  rgba(0,0,0,0) 72%,rgba(0,0,0,0.23) 80%,rgba(0,0,0,0.8) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#cc000000',GradientType=0 ); /* IE6-9 */

    transition: min-height 0.5s ease-in-out;
    height: inherit;
}
@media(max-width: 10000px) {
    div.hero-image {
        min-height: 5625px;
    }
}
@media(max-width: 9000px) {
    div.hero-image {
        min-height: 5062.5px;
    }
}
@media(max-width: 8000px) {
    div.hero-image {
        min-height: 4500px;
    }
}
@media(max-width: 7000px) {
    div.hero-image {
        min-height: 3937.5px;
    }
}
@media(max-width: 6000px) {
    div.hero-image {
        min-height: 3375px;
    }
}
@media(max-width: 5000px) {
    div.hero-image {
        min-height: 2812.5px;
    }
}
@media(max-width: 4500px) {
    div.hero-image {
        min-height: 2531.25px;
    }
}
@media(max-width: 4000px) {
    div.hero-image {
        min-height: 2250px;
    }
}
@media(max-width: 3500px) {
    div.hero-image {
        min-height: 1968.75px;
    }
}
@media(max-width: 3500px) {
    div.hero-image {
        min-height: 1687.5px;
    }
}
@media(max-width: 3000px) {
    div.hero-image {
        min-height: 1687.5px;
    }
}
@media(max-width: 2750px) {
    div.hero-image {
        min-height: 1546.875px;
    }
}
@media(max-width: 2500px) {
    div.hero-image {
        min-height: 1406.25px;
    }
}
@media(max-width: 2250px) {
    div.hero-image {
        min-height: 1265.625px;
    }
}
@media(max-width: 2000px) {
    div.hero-image {
        min-height: 1125px;
    }
}
@media(max-width: 1900px) {
    div.hero-image {
        min-height: 1068.75px;
    }
}
@media(max-width: 1800px) {
    div.hero-image {
        min-height: 1012.5px;
    }
}
@media(max-width: 1700px) {
    div.hero-image {
        min-height: 956.25px;
    }
}
@media(max-width: 1600px) {
    div.hero-image {
        min-height: 900px;
    }
}
@media(max-width: 1500px) {
    div.hero-image {
        min-height: 843.75px;
    }
}
@media(max-width: 1400px) {
    div.hero-image {
        min-height: 787.5px;
    }
}
@media(max-width: 1300px) {
    div.hero-image {
        min-height: 731.25px;
    }
}
@media(max-width: 1200px) {
    div.hero-image {
        min-height: 618.75px;
    }
}
@media(max-width: 1000px) {
    div.hero-image {
        min-height: 562.5px;
    }
}
@media(max-width: 900px) {
    div.hero-image {
        min-height: 506.25px;
    }
}
@media(max-width: 800px) {
    div.hero-image {
        min-height: 450px;
    }
}
@media(max-width: 700px) {
    div.hero-image {
        min-height: 393.75px;
    }
}
@media(max-width: 600px) {
    div.hero-image {
        min-height: 337.5px;
    }
}
@media(max-width: 500px) {
    div.hero-image {
        min-height: 281.25px;
    }
}
@media(max-width: 400px) {
    div.hero-image {
        min-height: 225px;
    }
}

h1.title {
    background: rgba(82, 72, 45, .8);
    color: white;
    display: inline-block;
    padding: 2pt 10pt 0 10pt;
    margin: 15pt 0 0 0;
}
h1.subtitle {
    background: rgba(51, 49, 43, .8);
    color: white;
    display: inline-block;
    padding: 0 12pt 0 12pt;
    font-size: 30pt;
    margin: 5pt 0 0 0;
}

footer {
    background: rgba(0,0,0,.1);
    position: relative;
    display: block;
    overflow: hidden;
    padding: 15pt 15% 15pt 20%;
}

label.popdown {
    transition: ease-in-out, .1s;
    display: block;
    font-family: "Alegreya Sans", sans-serif;
    font-weight: normal;
    line-height: 150%;
    font-size: 18pt;
    color: white;
    background: rgba(0,0,0,.8);
    line-height: 100%;
    padding: 8pt 11pt 7pt 11pt;
    box-sizing: border-box;
    border-radius: 5pt;
    text-align: center;
    margin: 0 auto 15pt auto;
    width: 200pt;
    -webkit-user-select: none;  /* Chrome all / Safari all */
    -moz-user-select: none;     /* Firefox all */
    -ms-user-select: none;      /* IE 10+ */
    user-select: none;          /* Likely future */
}
label.popdown:hover {
    padding: 8pt 11pt 7pt 14pt;
    display: block;
    border-right: none;
    transform: scale(1.1);
    background: rgba(0,0,0,.5);
}
label.popdown:active {
    transform: scale(.9);
}
div.popdown {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease-in-out;
    margin: 0 15% 0 20%;
    box-sizing: border-box;
}
input[type=checkbox].no-display:checked ~ div.popdown {
    max-height: 400px;
    overflow-y: scroll;
}