---
layout: default
date: 2016-06-18
ref: index
lang: en
title: "Home"
hero-image: "https://s-media-cache-ak0.pinimg.com/originals/43/a8/a7/43a8a7399c2606696e90a5fe1d9bfb56.jpg"
---

<div class="home">
  <figure class="hero-image"  style="background-image: url( {{ page.hero-image }} );" itemprop="image" itemscope itemtype="http://schema.org/ImageObject">
    <meta itemprop="url" content="{{ page.hero-image }}" />
    <meta itemprop="width" content="1600">
    <meta itemprop="height" content="900">
    <div class="hero-image">
      <h1 class="title"><span>Hi!</span></h1>
      <div>
        <h1 class="subtitle"><span>I'm Denis Labrecque</span></h1>
      </div>
      <p class="image-headline">{{ post.image-by }}</p>
    </div>
  </figure>
  
  <div class="page-feed">
    
    <span>
      <label class="popdown" for="popdown">Who am I?</label>
      <input type="checkbox" id="popdown" class="no-display" />
      <label class="x-button" for="popdown">X</label>
      <div class="popdown">
        <p>If you are interested in my work history, please visit my <a href="http://www.jobillico.com/medias/candidates/0/68/2245190_26-05-16_14h_44_34_1175993.pdf" target="_new">Curriculum Vitae</a> for more information.</p>
        <p><strong>My quick tagline</strong> is that I enjoy apologetics, composing neoclassical music, and eating with chopsticks.</p>
        <p><strong>Vocationally,</strong> I'm presently a student at <a href="http://www.pcci.edu/" target="_new">Pensacola Christian College</a> with a double major in Computer Information Systems and Graphic Design. I do, of course, draw, write music, and program as well, this blog being the fruit of such exercises.</p>
        <p><strong>Philosophically,</strong> I am a Lord-loving Christian -- by vocation a prophet of the Gospel, by understanding a Premillinnialist, by wisdom an Evangelical, and by predestination an inheritor of heaven; a Canadian, yet a son of Abraham through faith; a Conservative Unionist and anti-Socialist; a Conservative Christian and Conservative Eater and Speaker too; a computerphiliac and strong-pepper lover; a son of man and a son of God, both a sinner and made holy; a musician and composer, both pianist and violinist. <em></em>Compris?</em></p>
        <p><strong>My bragging right</strong> is of having two fathers, both legitimate: an earthly father of my blood, and a heavenly Father who gave me His.</p>
        <p><strong>My social context</strong> is Québec, Canada: I live in a village named St-Denis-sur-Richelieu, and can communicate in English and French natively.</p>
        <p><strong>My social profiles</strong> are as follows: I enjoy and much prefer using <a href="https://plus.google.com/+DenisGLabrecque" target="_new">Google+</a> because that platform is more interest- and thought- oriented than any other. However, few people seem to appreciate that, so I do have the social giant <a href="https://www.facebook.com/DenisGLabrecque" target="_new">Facebook</a> as well (and pause as half of you sigh in relief). I do also have <a href="https://www.linkedin.com/in/denisglabrecque" target="_new">LinkedIn</a> for my work resumé. <a href="https://plus.google.com/+DenisGLabrecque" target="_new">Google+</a>, <a href="https://www.facebook.com/DenisGLabrecque" target="_new">Facebook</a>, and <a href="https://www.linkedin.com/in/denisglabrecque" target="_new">LinkedIn</a> all allow others to send messages or emails to my profile (to avoid spam, I don't post my email).</p>
        <p>My favourite social profile is probably <a href="https://www.pinterest.com/DenisGLabrecque/" target="_new">Pinterest</a>: you will find interesting things on my boards. My least favourite social profile is probably <a href="https://twitter.com/denisglabrecque" target="_new">Twitter</a>, to which my mind seems to have grown gradually more prejudiced.</p>
        <p>My most personal channels, though, are <a href="https://www.youtube.com/c/DenisGLabrecque" target="_new">YouTube</a> and <a href="https://soundcloud.com/denisglabrecque" target="_new">SoundCloud</a>, both of which show off my personal patient work in certain areas. Another website of note, though not a social profile, is <a href="http://imslp.org/wiki/Category:Labrecque,_Denis_G.">IMSLP.org,</a> because that is where many PDFs of my compositions are hosted.</p>
      </div>
    </span>
    
    <span>
      <label class="popdown" for="popdown2">What is this site about?</label>
      <input type="checkbox" id="popdown2" class="no-display" />
      <label class="x-button" for="popdown2">X</label>
      <div class="popdown">
        <p><strong>This site is my virtual portfolio.</strong> I have worked countless hours making musical compositions, drawings, short books and articles that I wish to share with you.</p>
        <p><strong>It is also a sounding board</strong> to the defense of the truth and the life, found in Jesus-Christ, the God of Heaven and the Saviour of our evil actions. And He is the Word, and His word is the Bible (John 1).</p>
        <p>The news following the Bible's veracity is this — as the Christ the Messiah has said, “He that overcomes shall inherit all things; and I will be his God, and he shall be my son. But the fearful, and unbelieving, and the abominable, and murderers, and fornicators, and sorcerers, and idolaters, and all liars, shall have their part in the lake which burns with fire and brimstone: which is the second death.” It therefore follows that “He that believes on him is not condemned: but he that believes not is condemned already, because he has not believed in the name of the only begotten Son of God.”</p><p>Because of this knowledge, I also have an interest in apologetics and in the question of origins. I have hence written out my reflection on the question of origins, named Step by Step Towards the Truth, in which I expound the logical path taken in the discovery of my Lord.</p>
      </div>
    </span>
    
    <p class="headline">I have cool hair, but I also do cool stuff! One cool thing I do is play and compose music on the piano and violin.</p>
    
    <ul class="post-stream-container">
      {% assign posts=site.posts | where:"lang", page.lang %}
      {% for post in site.categories.music %}
      <li>
        <a href="{{ post.url | prepend: site.baseurl }}" class="post-stream-card">
          <div class="hero-article-thumbnail"
               style="background-image: url( {{ post.hero-image }} )">
            <strong class="article-title"><span>{{ post.title }}</span></strong>
            <em class="article-subtitle"><span>{{ post.subtitle }}</span></em>
          </div>
          <div class="hero-article-headline">{{ post.headline }}</div>
        </a>
      </li>
      {% endfor %}
    </ul>
  
    <span>
      <label class="popdown" for="popdown3">Where are my compositions?</label>
      <input type="checkbox" id="popdown3" class="no-display" />
      <label class="x-button" for="popdown3">X</label>
      <div class="popdown">
        <p>Part of my unrecorded music is on a <a href="https://www.youtube.com/playlist?list=PLq7M1cOtTjn1BImrylaY0UZBiIeZLwCFj" target="_new">YouTube playlist</a> as synthetic music. I have made <a href="https://www.youtube.com/playlist?list=PLq7M1cOtTjn1R6N4nmiBULc8Qnh3toCkW" target="_new">some acoustic recordings</a> provisionally, but have decided that my main music channel is <a href="https://soundcloud.com/denisglabrecque" target="_new">SoundCloud.</a> However, making quality recordings is arduous, and I'm far from up to date.</p>
        <p>Scores are easier to share. A practically encyclopedic website, <a href="http://www.imslp.org/wiki/User:D.g.lab.">IMSLP</a> (Petrucci Music Library) hosts many <a href="http://www.imslp.org/wiki/User:D.g.lab." target="_new">PDF scores of my compositions.</a> Still, many works are not perfectly adjusted, so I couldn't upload them yet.</p>
      </div>
    </span>
  
    <span>
      <label class="popdown" for="popdown4">My complete composition list</label>
      <input type="checkbox" id="popdown4" class="no-display" />
      <label class="x-button" for="popdown4">X</label>
      <div class="popdown">
        <ol>
          <li>Violin Concerto "The Italianate" (uncorrected)</li>
          <li>Violin Romance "Butterfly" (uncorrected)</li>
          <li>Concerto "Thanksgiving" for three violins (partly recomposed)</li>
          <li>Prelude and Adagio for keyboard (uncorrected)</li>
          <li>Suite "On the Iris" for two violins (uncorrected)</li>
          <li>"Grande Entrée", "Marche Militaire" (incomplete)</li>
          <li>"Concerto du Printemps" (recomposed)</li>
          <li>Scrapbook: "La maladie d'amour" (complete), "Jungle Wells" (complete), Étude, Background Harp Music, Arrangement of Happy Birthday (all complete)</li>
          <li>"Musique du Réveil" for violon (complete)</li>
          <li>"Je vais avec lui!" hymn, (complete)</li>
          <li>"Six Bell Calls" (complete)</li>
          <li>Arrangements (incomplete)</li>
          <li>Toccata & two preludes for organ (complete)</li>
          <li>"Mélodies" for violin and cello, many movements, a recomposition (incomplete)</li>
          <li>Mariage Cantata (only begun)</li>
          <li>"Voici le Sauveur" short motet (complete)</li>
          <li>"Tormented Winds" polyphonia and chaconne for two violins (complete)</li>
          <li>"Daniel" I: polyphonia, passacaglia, orientalisante, & "Le petit rigolo" for violin and piano (complete)</li>
          <li>"Esther" Opera: "Festin," "Romance," "Esther et Mardochée," "Bigtham et Theresh," "Marche," "Désolation des Juifs," "Esther recontre le roi," "Les annales", "Victoire des Juifs", "Jésus est mon diving berger" (partially composed)</li>
          <li>"The Anthem Set" hymns: "Tu es serviteur et héros", "Pour le seul roi," "Ènlève, élève," "Vois mon désir," "En toi mes yeux voient" (complete)</li>
          <li>"Rosée matinale," musique du réveil for violin (complete)</li>
          <li>"Daniel" II: prelude & czardas for violin and orchestra (complete)</li>
          <li>Airs for two violins (complete; additions to be made)</li>
          <li>Musique du réveil for saxophone (incomplete)</li>
          <li>"Moderna" for piano: "Pastel Whites" (complete; additions to be made)</li>
        </ol>
      </div>
    </span>
    
    <p class="headline">Another great thing I do is think biblically.</p>
    <h2>Bible Talk</h2>
    
    <ul class="post-stream-container">
      {% assign posts=site.posts | where:"lang", page.lang %}
      {% for post in site.categories.bibletalk %}
      <li>
        <a href="{{ post.url | prepend: site.baseurl }}" class="post-stream-card">
          <div class="hero-article-thumbnail"
               style="background-image: url( {{ post.hero-image }} )">
            <strong class="article-title"><span>{{ post.title }}</span></strong>
            <em class="article-subtitle"><span>{{ post.subtitle }}</span></em>
          </div>
          <div class="hero-article-headline">{{ post.headline }}</div>
        </a>
      </li>
      {% endfor %}
    </ul>
    
    <p class="headline">I also draw</p>
    <h2>Artwork</h2>
    
    <ul class="post-stream-container">
      {% assign posts=site.posts | where:"lang", page.lang %}
      {% for post in site.categories.artwork %}
      <li>
        <a href="{{ post.url | prepend: site.baseurl }}" class="post-stream-card">
          <div class="hero-article-thumbnail"
               style="background-image: url( {{ post.hero-image }} )">
            <strong class="article-title"><span>{{ post.title }}</span></strong>
            <em class="article-subtitle"><span>{{ post.subtitle }}</span></em>
          </div>
          <div class="hero-article-headline">{{ post.headline }}</div>
        </a>
      </li>
      {% endfor %}
    </ul>
    
    <p class="headline">And document other projects, thoughts, and activities.</p>
    <h2>Blog</h2>
    
    <ul class="post-stream-container">
      {% assign posts=site.posts | where:"lang", page.lang %}
      {% for post in site.categories.blog %}
      <li>
        <a href="{{ post.url | prepend: site.baseurl }}" class="post-stream-card">
          <div class="hero-article-thumbnail"
               style="background-image: url( {{ post.hero-image }} )">
            <strong class="article-title"><span>{{ post.title }}</span></strong>
            <em class="article-subtitle"><span>{{ post.subtitle }}</span></em>
          </div>
          <div class="hero-article-headline">{{ post.headline }}</div>
        </a>
      </li>
      {% endfor %}
    </ul>

  </div><!-- page-feed -->

</div>
