{% if page.lang == 'en' %}
<p>To contact me, please <script language="JavaScript">
var username = "denis.g.labrecque";
var hostname = "gmail.com";
var linktext = send me an email;
document.write("<a href='" + "mail" + "to:" + username + "@" + hostname + "'>" + linktext + "</a>");
</script>
  and I will respond as soon as possible. Alternatively, you can <a href="m.me/DenisGLabrecque">send me a Facebook message.</a></p>
<p>Alternatively, you can
{% endif %}

{% if page.lang == 'fr' %}

{% endif %}
