<br />
{% if page.lang == "en" %}
  <div>
    <img src="{{ page.co-author-photo }}" class="author-photo" />
    <a rel="author" href="{{ page.co-author-url }}">{{ page.co-author }}</a> is a student in Secondary English Education at Pensacola Christian College. She plans to continue her studies with a master's degree in Educational Leadership.
  </div>
{% elsif page.lang == "fr" %}
  <div>
    <img src="{{ page.co-author-photo }}" class="author-photo" />
    <a rel="author" href="{{ page.co-author-url }}">{{ page.co-author }}</a> est une étudiante en éducation secondaire à Pensacola Christian College. Elle désire continuer ses études avec une maîtrise en leadership éducationnel.
  </div>
{% endif %}
