<br />
{% if page.lang == "en" %}
  <div>
    <img src="https://s-media-cache-ak0.pinimg.com/avatars/sundarabheriya_1468177840_280.jpg" alt="Coralie Lemasson" class="author-photo" />
    <a rel="author" href="https://www.facebook.com/coralie.lemasson.7" target="_new">Coralie Lemasson</a> is a student in Secondary English Education at Pensacola Christian College. She is a foodie who loves horses and coffee. <a href="https://coraliecafe.wordpress.com/">She also makes art</a>, such as acrylic paintings and oil washes, which can be seen <a href="https://coraliecafe.wordpress.com/">on her website.</a>
  </div>
{% elsif page.lang == "fr" %}
  <div>
    <img src="https://s-media-cache-ak0.pinimg.com/avatars/sundarabheriya_1468177840_280.jpg" alt="Coralie Lemasson" class="author-photo" />
    <a rel="author" href="https://www.facebook.com/coralie.lemasson.7" target="_new">Coralie Lemasson</a> est une étudiante en éducation secondaire à Pensacola Christian College. Elle aime la bonne nourriture, les chevaux, et le café. <a href="https://coraliecafe.wordpress.com/>Elle fait aussi de l'art</a>, en acrylique et en peinture à l'huile, qu'il est possible de voir <a href="https://coraliecafe.wordpress.com/">sur son site web.</a>
  </div>
{% endif %}
