{% if page.lang == 'en' %}
<div>
<img src="{{ site.baseurl }}/images/Denis-Labrecque.jpg" class="author-photo" />
<a rel="author" href="{% post_url 2017-01-19-curriculum-vitae %}">Denis Labrecque</a> is a university student in Computer Information Systems and Graphic Design at Pensacola Christian College, Florida. He has held various summer jobs, such as graphic designer, intern, and order picker. He is engaged to Coralie, and they <a href="{% post_url 2018-02-18-wedding %}">are to be married</a> the 26th of July 2018. Denis has always had an interest in aviation, and hopes to learn to fly one day.
</div>
{% endif %}

{% if page.lang == 'fr' %}
<div>
<img src="{{ site.baseurl}}/images/Denis-Labrecque.jpg" class="author-photo" />
<a rel="author" href="{% post_url 2017-01-23-mon-resume %}">Denis Labrecque</a> est un étudiant universitaire en programmation et en design graphique à Pensacola Christian College, Floride. Il a fait le même travail d'été à un centre de distribution pendant deux ans. Il est fiancé à Coralie, et <a href="{% post_url 2018-02-18-mariage %}">leur mariage est le 26 juillet prochain</a>. Denis a toujours été interessé à l'aviation, et espère apprendre à voler un jour.
</div>
{% endif %}
