{% if page.lang == 'en' %}
<div>
<img src="{{ page.author-photo }}" class="author-photo" />
<a rel="author" href="{{ site.baseurl }}/short-bio">Denis Labrecque</a> is a student in Computer Information Systems and Graphic Design at Pensacola Christian College, Florida. Currently, he is working as préparateur de commandes at Colabor Boucherville. He plans to apply as a pilot in the Canadian Forces.
</div>
{% endif %}

{% if page.lang == 'fr' %}
<div>
<img src="{{ page.author-photo }}" class="author-photo" />
<a rel="author" href="{{ site.baseurl }}/courte-bio">Denis Labrecque</a> est un étudiant en systèmes informatiques et en design graphique à Pensacola Christian College, Floride. Il travaille présentement comme préparateur de commandes à Colabor Boucherville. Il prévoit appliquer comme pilote au sein des Forces Canadiennes.
</div>
{% endif %}
