{% if page.lang == 'en' %}
<h3 id="image-gallery">Gallery</h3>
{% endif %}

{%if page.lang == 'fr' %}
<h3>Gallerie d'images</h3>
{% endif %}

<figure itemscope itemtype="http://schema.org/ImageObject" class="image-gallery">
   {% for image in page.gallery %}
    <div class="no-break">
        <label class="image-gallery-label" for="{{ image.url }}">
           <img src="{{ image.url }}" class="full-bleed-image" alt="{{ image.description }}" />
        </label>
        <input type="checkbox" id="{{ image.url }}" class="no-display" />
        <label class="x-button" for="{{ image.url }}" title="Close">❌</label>
        <a class="pinterest-button" href="https://pinterest.com/pin/create/button/?url={{ site.url }}{{ page.url }}&media={{ image.url }}&description={{ image.description }}" target="_new" title="{% if page.lang == 'en' %}Share image on Pinterest{% endif %}{% if page.lang == 'fr' %}Partager l'image sur Pinterest{% endif %}"><i class="fa fa-pinterest-p" aria-hidden="true"></i></a>
        <a class="image-link" href="{{ image.url }}" target="_new" title="{% if page.lang == 'en' %}Image source{% endif %}{% if page.lang == 'fr' %}Source de l'image{% endif %}"><i class="fa fa-external-link-square" aria-hidden="true"></i></a>
         <div class="popdown full-bleed-image">
           <img src="{{ image.url }}" class="full-bleed-image" alt="{{ image.description }}" />
         </div>
        <small>{{ image.by }}</small>
        <figcaption>
            <span itemprop="description">{{ image.description }}</span>
        </figcaption>
    </div>
   {% endfor %}
</figure>

<!--<figure itemscope itemtype="http://schema.org/ImageObject" class="image-gallery">
   {% for image in page.gallery %}
    <div class="no-break">
        <a class="image-gallery-label" href="{{ image.url }}" target="_new">
           <img src="{{ image.url }}" class="full-bleed-image" alt="{{ image.description }}" />
        </a>
        <small>{{ image.by }}</small>
        <figcaption>
            <span itemprop="description">{{ image.description }}</span>
        </figcaption>
    </div>
   {% endfor %}
</figure> -->
