{% if page.lang == 'en' %}
<h3>Gallery</h3>
{% endif %}

{%if page.lang == 'fr' %}
<h3>Gallerie d'images</h3>
{% endif %}

<figure itemscope itemtype="http://schema.org/ImageObject" class="image-gallery">
   {% for image in page.gallery %}
    <div class="no-break">
        <a class="image-gallery-label" href="{{ image.url }}" target="_new">
           <img src="{{ image.url }}" class="full-bleed-image" alt="{{ image.description }}" />
        </a>
        <small>{{ image.by }}</small>
        <figcaption>
            <span itemprop="description">{{ image.description }}</span>
        </figcaption>
    </div>
   {% endfor %}
</figure>