
 <figure itemscope itemtype="http://schema.org/ImageObject" class="image-figure">
    <!--<h2 itemprop="name">Image Heading</h2>-->
    <a href="{{ include.image-url }}">
        <img src="{{ include.image-url }}" alt="{{ include.image-url }}" itemprop="contentURL" class="image-figure-main" />
    </a>
    <figcaption>
      <!--<span itemprop="author">Image Author</span>
      <span itemprop="contentLocation">Photographed in</span>-->
      <span itemprop="description">{{ include.image-description || include.description }}</span>
    </figcaption>
 </figure>
