<script>
   var spinnerOn   = 0; // Spinner loader showing
   var actualPhoto = 1; // Photo you're looking at
   var expanded = 0; // Photo gallery is/or not expanded to a popup
   // var photoArray[] This gallery needs this array to be defined in the containing document
   var gallerySize = photoArray.length;

   // Move forwards in the array of photos
   function nextPhoto()
   {
      if(actualPhoto == gallerySize)
      {
         actualPhoto = 1;
      }
      else {
         actualPhoto++;
      }
      displayPhoto(actualPhoto - 1);
   }

   // Move backwards in the array of photos
   function previousPhoto()
   {
      if(actualPhoto == 1)
      {
         actualPhoto = gallerySize;
      }
      else {
         actualPhoto--;
      }
      displayPhoto(actualPhoto - 1);
   }

   // Display a certain photo
   function displayAnyPhoto(photoNumber)
   {
      actualPhoto = photoNumber;
      displayPhoto(actualPhoto - 1);
   }

   // Create a photo list of the gallery photos
   function displayPhotoList()
   {
      for(i = 0; i < gallerySize; i++)
      {
         var call = "displayAnyPhoto(" + (i + 1) + ")";
         var source = getImageSource("source", i);
         var image = document.createElement("img");
         image.setAttribute("src", source);
         image.setAttribute("title", getImageTitle(i));
         image.setAttribute("alt", getImageDescription("plain", i));
         image.setAttribute("class", "metaImageGallery");
         image.setAttribute("onclick", call);
         image.setAttribute("id", ("image" + i));
         document.getElementById("photoList").appendChild(image);
      }
   }

   // Make the photo gallery its own window
   function expandOrRetract()
   {
      if (expanded == 0)
      {
         expanded = 1;
         document.getElementById("gallery-backdrop").style.position = "fixed";
         document.getElementById("gallery-backdrop").style.height = "100vh";
         document.getElementById("gallery-backdrop").style.top = "0";
         document.getElementById("gallery-backdrop").style.left = "0";
      }
      else {
         expanded = 0;
         document.getElementById("gallery-backdrop").style.position = "relative";
         document.getElementById("gallery-backdrop").style.height = "80vh";
         document.getElementById("gallery-backdrop").style.top = "unset";
         document.getElementById("gallery-backdrop").style.left = "unset";
      }
   }

   // Get the image source
   function getImageSource(source, arrayPosition)
   {
      var imageSource; // The source of an image
      var pinLargeImageUrl = "https://s-media-cache-ak0.pinimg.com/originals/";
      var pinSmallImageUrl = "https://s-media-cache-ak0.pinimg.com/564x/";

      // Return a large source image
      if (source == "source")
      {
         imageSource = photoArray[arrayPosition].url;
      }
      else { // source == "thumb"
         if (photoArray[arrayPosition].pinurl)
         {
            imageSource = pinSmallImageUrl + photoArray[arrayPosition].pinurl;
         }
         else {
            imageSource = photoArray[arrayPosition].url;
         }
      }

      return imageSource;
   }

   // Get the title of an image if it exists
   function getImageTitle(arrayPosition)
   {
      var imageTitle; // The title of an image

      if (photoArray[arrayPosition].title)
      {
         imageTitle = photoArray[arrayPosition].title
      }
      else 
      {
         imageTitle = "";
      }

      return imageTitle;
   }

   // Get the description of an image; use "html" or "plain" for "style"
   function getImageDescription(style, arrayPosition)
   {
      var imageDescription; // The description of an image

      if (photoArray[arrayPosition].description)
      {
         if (style == "html")
         {
            imageDescription = "<div class='image-description'>" + photoArray[arrayPosition].description + "</div>";
         }
         if (style == "plain")
         {
            imageDescription = photoArray[arrayPosition].description;
         }
      }
      else
      {
         imageDescription = "";
      }

      return imageDescription;
   }

   // Show a spinner and display a photo by changing source URL
   function displayPhoto(arrayPosition)
   {
      var imageSource = getImageSource("source", (arrayPosition)); // The source url of an image in the array
      var imageThumb = getImageSource("thumb", (arrayPosition)); // The thumbnail url of an image in the array
      var sourceUrl = photoArray[arrayPosition].url; // The largest image URL
      var CssSourceUrl = "url('" + imageSource + "')";
      var CssThumbUrl = "url('" + imageThumb + "')";

      // Set the gallery image and buttons
      document.getElementById("PhotoGalleryPreview").style.backgroundImage = CssThumbUrl;
      document.getElementById("photoLink").setAttribute("href", imageSource);
      document.getElementById("GalleryPhotoNumber").innerHTML = actualPhoto + " / " + gallerySize + " • " + getImageTitle(actualPhoto - 1);
      document.getElementById("PhotoDescription").innerHTML = getImageDescription("html", (actualPhoto - 1));
      document.getElementById("PhotoGallery").style.backgroundImage = CssSourceUrl;
      //document.getElementById(("image" + arrayPosition)).setAttribute("class", "metaImageGallery selected");
   }

   // Main function
   function main()
   {
      displayPhotoList();
      displayPhoto(actualPhoto - 1);
   }
</script>

<div class="gallery-backdrop" id="gallery-backdrop">
   <i class="fa fa-circle-o-notch fa-spin fa-3x fa-fw" id="spinner-font-awesome"></i>
   <div id="PhotoGalleryPreview">
      <div id="PhotoGallery">
         <div class="photo-expand" onclick="expandOrRetract()">⤢</div>
         <a class="photo-link" id="photoLink" target="_new">◳</a>
         <div class="photo-arrow photo-left" onclick="previousPhoto()">❮</div>
         <div class="photo-arrow photo-right" onclick="nextPhoto()">❯</div>
         <div class="giant-left-move" onclick="previousPhoto()"></div>
         <div class="giant-right-move" onclick="nextPhoto()"></div>
         <!-- photos appear in div background through CSS -->
         <figcaption id="GalleryPhotoNumber"><!-- JavaScript writes photo # of # here --></figcaption>
      </div>
   </div>
</div>
<div id="photoList"></div>
<p class="javascript-gallery-caption" id="PhotoDescription"><!-- Photo titles and descriptions appear here --></p>
