<script>
   var spinnerOn   = 0; // Spinner loader showing
   var actualPhoto = 1; // Photo you're looking at
   var expanded = 0; // Photo gallery is/or not expanded to a popup
   // var photoArray[] This gallery needs this array to be defined in the containing document
   var gallerySize = photoArray.length;

   // Move forwards in the array of photos
   function nextPhoto()
   {
      if(actualPhoto == gallerySize)
      {
         actualPhoto = 1;
      }
      else {
         actualPhoto++;
      }
      displayPhoto();
   }

   // Move backwards in the array of photos
   function previousPhoto()
   {
      if(actualPhoto == 1)
      {
         actualPhoto = gallerySize;
      }
      else {
         actualPhoto--;
      }
      displayPhoto();
   }

   // Make the photo gallery its own window
   function expandOrRetract()
   {
      if (expanded == 0)
      {
         expanded = 1;
         document.getElementById("gallery-backdrop").style.position = "fixed";
         document.getElementById("gallery-backdrop").style.height = "100vh";
         document.getElementById("gallery-backdrop").style.top = "0";
         document.getElementById("gallery-backdrop").style.left = "0";
      }
      else {
         expanded = 0;
         document.getElementById("gallery-backdrop").style.position = "relative";
         document.getElementById("gallery-backdrop").style.height = "80vh";
         document.getElementById("gallery-backdrop").style.top = "unset";
         document.getElementById("gallery-backdrop").style.left = "unset";
      }
   }

   // Get the image source
   function getImageSource(source)
   {
      var imageSource; // The source of an image
      var pinLargeImageUrl = "https://s-media-cache-ak0.pinimg.com/originals/";
      var pinSmallImageUrl = "https://s-media-cache-ak0.pinimg.com/564x/";

      // Return a large source image
      if (source == "source")
      {
         imageSource = photoArray[actualPhoto - 1].url;
      }
      else { // source == "thumb"
         if (photoArray[actualPhoto - 1].pinurl)
         {
            imageSource = pinSmallImageUrl + photoArray[actualPhoto - 1].pinurl;
         }
         else {
            imageSource = photoArray[actualPhoto - 1].url;
         }
      }

      return imageSource;
   }

   // Get the title of an image if it exists
   function getImageTitle()
   {
      var imageTitle; // The title of an image

      if (photoArray[actualPhoto - 1].title)
      {
         imageTitle = photoArray[actualPhoto - 1].title
      }
      else 
      {
         imageTitle = "<span lang='en'>Untitled</span>";
      }

      return imageTitle;
   }

   // Get the description of an image
   function getImageDescription()
   {
      var imageDescription; // The description of an image
      var imageBy;          // Who created the image

      if (photoArray[actualPhoto - 1].description)
      {
         imageDescription = "<div class='image-description'>" + photoArray[actualPhoto - 1].description + "</div>";
      }
      else
      {
         imageDescription = "";
      }

      if (photoArray[actualPhoto - 1].by)
      {
         imageBy = "<div class='image-by'>" + photoArray[actualPhoto - 1].by + "</div>";
      }
      else
      {
         imageBy = "";
      }

      return imageBy + imageDescription;
   }

   // Show a spinner and display a photo by changing source URL
   function displayPhoto()
   {
      // Load the photo through css and show which photo the user is looking at
      var imageSource = getImageSource("source"); // The source url of an image in the array
      var imageThumb = getImageSource("thumb"); // The thumbnail url of an image in the array
      var sourceUrl = photoArray[actualPhoto - 1].url; // The largest image URL
      var CssSourceUrl = "url('" + imageSource + "')";
      var CssThumbUrl = "url('" + imageThumb + "')";

      document.getElementById("PhotoGalleryPreview").style.backgroundImage = CssThumbUrl;
      document.getElementById("photoLink").setAttribute("href", imageSource);
      document.getElementById("GalleryPhotoNumber").innerHTML = actualPhoto + " / " + gallerySize + " • " + getImageTitle();
      document.getElementById("PhotoDescription").innerHTML = getImageDescription();
      document.getElementById("PhotoGallery").style.backgroundImage = CssSourceUrl;
   }
</script>

<div class="gallery-backdrop" id="gallery-backdrop">
   <i class="fa fa-circle-o-notch fa-spin fa-3x fa-fw" id="spinner-font-awesome"></i>
   <div id="PhotoGalleryPreview">
      <div id="PhotoGallery">
         <div class="photo-expand" onclick="expandOrRetract()">⤢</div>
         <a class="photo-link" id="photoLink" target="_new">◳</a>
         <div class="photo-arrow photo-left" onclick="previousPhoto()">❮</div>
         <div class="photo-arrow photo-right" onclick="nextPhoto()">❯</div>
         <div class="giant-left-move" onclick="previousPhoto()"></div>
         <div class="giant-right-move" onclick="nextPhoto()"></div>
         <!-- photos appear in div background through CSS -->
         <figcaption id="GalleryPhotoNumber"><!-- JavaScript writes photo # of # here --></figcaption>
      </div>
   </div>
</div>
<p class="javascript-gallery-caption" id="PhotoDescription"><!-- Photo titles and descriptions appear here --></p>
