{% for clip in page.soundclips %}
    {{ clip.sound }}
{% endfor %}

{% if page.lang == 'en' %}
    {% for composition in page.movements %}
        <h3 id="{{ composition.title | slugify }}">{{ composition.title }}</h3>
        {% if composition.type %}
            <h4 class="composition-type">{{ composition.type }}</h4>
        {% endif %}
        {% if composition.ensemble %}
            <strong>Ensemble: </strong>{{ composition.ensemble }}<br />
        {% endif %}
        {% if composition.date %}
            <strong>Date: </strong>{{ composition.date }}<br />
        {% endif %}
        {% if composition.lyrics %}
            <strong>Lyrics:</strong>
            <ol class="composition-lyrics">
                {{ composition.lyrics }}
            </ol>
        {% endif %}
        {% if composition.lyrics-translation %}
            <strong>Lyrics [translation]:</strong>
            <ol class="composition-lyrics">
                {{ composition.lyrics-translation }}
            </ol>
        {% endif %}
        {% if composition.notes %}
            <strong>Notes:</strong>
            {{ composition.notes }}
        {% endif %}
        {% if composition.pdf-link %}
            <a href="{{ composition.pdf-link }}" class="share-link pdf" target="_new">Get the score <i class="fa fa-file-pdf-o" aria-hidden="true"></i></a>
        {% endif %}
        {% if composition.youtube-link %}
            <a href="{{ composition.youtube-link }}" class="share-link youtube" target="_new">Listen to the video <i class="fa fa-youtube-play" aria-hidden="true"></i></a>
        {% endif %}
        {% if composition.soundcloud-link %}
            <a href="{{ composition.soundcloud-link }}" class="share-link soundcloud" target="_new">Listen to the recording <i class="fa fa-soundcloud" aria-hidden="true"></i></a>
        {% endif %}
    {% endfor %}
{% endif %}



{% if page.lang == 'fr' %}
    {% for composition in page.movements %}
        <h3 id="{{ composition.title | slugify }}">{{ composition.title }}</h3>
        {% if composition.type %}
            <h4 class="composition-type">{{ composition.type }}</h4>
        {% endif %}
        {% if composition.ensemble %}
            <strong>Ensemble: </strong>{{ composition.ensemble }}<br />
        {% endif %}
        {% if composition.date %}
            <strong>Date: </strong>{{ composition.date }}<br />
        {% endif %}
        {% if composition.lyrics %}
            <strong>Paroles:</strong>
            <ol class="composition-lyrics paroles">
                {{ composition.lyrics }}
            </ol>
        {% endif %}
        {% if composition.lyrics-translation %}
            <strong>Paroles [traduction]:</strong>
            <ol class="composition-lyrics paroles">
                {{ composition.lyrics-translation }}
            </ol>
        {% endif %}
        {% if composition.notes %}
            <strong>Notes:</strong>
            {{ composition.notes }}
        {% endif %}
        {% if composition.pdf-link %}
            <a href="{{ composition.pdf-link }}" class="share-link pdf" target="_new">Obtenir la partition <i class="fa fa-file-pdf-o" aria-hidden="true"></i></a>
        {% endif %}
        {% if composition.youtube-link %}
            <a href="{{ composition.youtube-link }}" class="share-link youtube" target="_new">Écouter la vidéo <i class="fa fa-youtube-play" aria-hidden="true"></i></a>
        {% endif %}
        {% if composition.soundcloud-link %}
            <a href="{{ composition.soundcloud-link }}" class="share-link soundcloud" target="_new">Écouter l’enregistrement <i class="fa fa-soundcloud" aria-hidden="true"></i></a>
        {% endif %}
    {% endfor %}
{% endif %}
