<span class="popdown-span">
  <label class="popdown" for="{{ include.id | slugify }}">{{ include.title }}</label>
  <!--googleoff: all-->
  <input type="checkbox" id="{{ include.id | slugify }}" class="no-display" />
  
  <!--googleon: all-->
  <label class="citation-clickeater" for="{{ include.id | slugify }}"></label>

  <span class="citation">
    <label class="close-citation" for="{{ include.id | slugify }}"><i class="icon quit"></i></label>
    <span class="citation-content">
        {{ include.contents }}
    </span>
  </span>
</span>
  
  
  
  
  

