<span class="popdown-span">
  <label class="popdown" for="popdown-hero">{{ include.title }}</label>
  <!--googleoff: all-->
  <input type="checkbox" id="popdown-hero" class="no-display" />
  
  <!--googleon: all-->
  <label class="citation-clickeater" for="popdown-hero"></label>

  <span class="citation">
    <label class="close-citation" for="popdown-hero"><i class="icon quit"></i></label>
    <span class="citation-content">
        {{ include.contents }}
    </span>
  </span>
</span>
  
  
  
  
  

