<a href="https://plus.google.com/share?url={{ site.url }}{{ page.url }}" class="share-link google" target="_new">Share on Google+</a>

<a href="https://pinterest.com/pin/create/button/?url={{ site.url }}{{ page.url }}&media={{ page.hero-image }}&description={{ page.title }}: {{ page.subtitle }} &mdash; {{ page.headline }}" class="share-link pinterest" target="_new">Share on Pinterest</a>

<a href="http://www.tumblr.com/share/link?url={{ site.url }}{{ page.url }}&name={{ page.title }}: {{ page.subtitle }}&description={{ page.headline }}" class="share-link tumblr" target="_new">Share on Tumblr</a>