<ul class="post-stream-container">
  {% assign posts=site.posts | where:"lang", page.lang %}
  {% for post in site.categories.music limit: include.stream-limit %}
  <li>
    <a href="{{ post.url | prepend: site.baseurl }}" class="post-stream-card">
      <div class="hero-article-thumbnail"
        {% if post.thumbnail %}
           style="background-image: url( {{ post.thumbnail }} )">
        {% elsif post.hero-image %}
           style="background-image: url( {{ post.hero-image }} )">
        {% endif %}
        <strong class="article-title"><span>{{ post.title }}</span></strong>
        <em class="article-subtitle"><span>{{ post.subtitle }}
          {% if post.ensemble %}
            {% if page.lang == 'fr' %}
              <span> pour </span>
            {% endif %}
            {% if page.lang == 'en' %}
              <span> for </span>
            {% endif %}
            {{ post.ensemble }}
          {% endif %}</span></em>
        <em class="article-catalogue">Opus {{ post.catalogue }}</em>
      </div>
      <div class="hero-article-headline">{{ post.headline }}
        {% if post.movements %}
        <table class="thumbnail-movement-list">
          {% for composition in post.movements %}
            <tr>
              <td class="movement-has-pdf">{% if composition.pdf-link or post.pdf-link %}<i class="fa fa-file-pdf-o" aria-hidden="true"></i>{% endif %}</td>
              <td class="movement-has-youtube">{% if composition.youtube-link %}<i class="fa fa-youtube-play" aria-hidden="true"></i>{% endif %}</td>
              <td class="movement-has-soundcloud">{% if composition.soundcloud-link %}<i class="fa fa-soundcloud" aria-hidden="true"></i>{% endif %}</td>
              <td><a href="{{ post.url | prepend: site.baseurl }}#{{ composition.title | slugify }}"><em>{{ composition.title}}</em></a></td>
            </tr>
          {% endfor %}
        </table>
        {% endif %}
      </div>
    </a>
  </li>
  {% endfor %}
  {% if include.more == 'more' %}
  <li class="go-to-complete-stream">
    <a href="/music" class="post-stream-card">
      <div class="hero-article-headline">
        <h4>More music, more fun <i class="fa fa-angle-right" aria-hidden="true"></i></h4>
      </div>
    </a>
  </li>
  {% endif %}
</ul>
