<h3>{% if page.lang == 'en' %}Website Topics{% endif %}{% if page.lang == 'fr' %}Sujets{% endif %}</h3>

<ul class="post-stream-container no-span">
  <li class="go-to-complete-stream">
    <a href="/artwork" class="post-stream-card">
      <div class="hero-article-headline">
        <h4>Artwork <i class="fa fa-angle-right" aria-hidden="true"></i></h4>
      </div>
    </a>
  </li>
  <li class="go-to-complete-stream">
    <a href="/music" class="post-stream-card">
      <div class="hero-article-headline">
        <h4>Musical compositions <i class="fa fa-angle-right" aria-hidden="true"></i></h4>
      </div>
    </a>
  </li>
  <li class="go-to-complete-stream">
    <a href="/bibletalk" class="post-stream-card">
      <div class="hero-article-headline">
        <h4>Bible talk <i class="fa fa-angle-right" aria-hidden="true"></i></h4>
      </div>
    </a>
  </li>
  <li class="go-to-complete-stream">
    <a href="/blog" class="post-stream-card">
      <div class="hero-article-headline">
        <h4>Blog <i class="fa fa-angle-right" aria-hidden="true"></i></h4>
      </div>
    </a>
  </li>
</ul>
