{% if page.lang == 'en' %}
<h3>Website Topics</h3>

<ul class="post-stream-container no-span">
  <li class="go-to-complete-stream">
    <a href="/artwork" class="post-stream-card">
      <div class="hero-article-headline">
        <h4>Artwork <i class="fa fa-angle-right" aria-hidden="true"></i></h4>
      </div>
    </a>
  </li>
  <li class="go-to-complete-stream">
    <a href="/music" class="post-stream-card">
      <div class="hero-article-headline">
        <h4>Musical Compositions <i class="fa fa-angle-right" aria-hidden="true"></i></h4>
      </div>
    </a>
  </li>
  <li class="go-to-complete-stream">
    <a href="/bibletalk" class="post-stream-card">
      <div class="hero-article-headline">
        <h4>Bible Talk <i class="fa fa-angle-right" aria-hidden="true"></i></h4>
      </div>
    </a>
  </li>
  <li class="go-to-complete-stream">
    <a href="/blog" class="post-stream-card">
      <div class="hero-article-headline">
        <h4>Blog <i class="fa fa-angle-right" aria-hidden="true"></i></h4>
      </div>
    </a>
  </li>
</ul>
{% endif %}



{% if page.lang == 'fr' %}
<h3>Sujets</h3>

<ul class="post-stream-container no-span">
  <li class="go-to-complete-stream">
    <a href="/art" class="post-stream-card">
      <div class="hero-article-headline">
        <h4>Art <i class="fa fa-angle-right" aria-hidden="true"></i></h4>
      </div>
    </a>
  </li>
  <li class="go-to-complete-stream">
    <a href="/musique" class="post-stream-card">
      <div class="hero-article-headline">
        <h4>Compositions musicales <i class="fa fa-angle-right" aria-hidden="true"></i></h4>
      </div>
    </a>
  </li>
  <li class="go-to-complete-stream">
    <a href="/biblique" class="post-stream-card">
      <div class="hero-article-headline">
        <h4>Apologétique <i class="fa fa-angle-right" aria-hidden="true"></i></h4>
      </div>
    </a>
  </li>
  <li class="go-to-complete-stream">
    <a href="/blogue" class="post-stream-card">
      <div class="hero-article-headline">
        <h4>Blogue <i class="fa fa-angle-right" aria-hidden="true"></i></h4>
      </div>
    </a>
  </li>
</ul>
{% endif %}
