---
layout: default
---

<!-- facebook javascript sdk -->
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.6";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<article class="post" itemscope itemtype="CreativeWork">
    <div class="art-wrapper">
        <img class="artwork-hero-image" src="{{ page.hero-image }}" />
    </div>
  <figure class="artwork-hero-image" itemprop="image" itemscope itemtype="http://schema.org/ImageObject">
    <meta itemprop="url" content="{{ page.hero-image }}" />
    <meta itemprop="width" content="1600">
    <meta itemprop="height" content="900">
    <h1 class="title"><span itemprop="headline">{{ page.title }}</span></h1>
    <div>
      <h1 class="subtitle"><span itemprop="alternateName">{{ page.subtitle }}</span></h1>
    </div>
 
  </figure>

  <div class="page-feed">
    <p class="headline" itemprop="description">{{ page.headline }}</p>

    <span itemprop="articleBody">
      {{ content }}
    </span>
    
    <!-- facebook comments -->
    <div class="fb-comments" data-href="{{ site.url }}{{ page.url }}" data-width="100%" data-numposts="5"></div>
    
  </div>

</article>
