---
layout: default
---
<article class="post" itemscope itemtype="https://schema.org/CreativeWork">
   <div class="art-wrapper">
      <img class="artwork-hero-image" src="{{ page.hero-image }}" />
   </div>

  <div class="page-feed">
    <h2 itemprop="headline">{{ page.title }}</h1>
    <h3 itemprop="alternateName">{{ page.subtitle }}</h2>
    <p class="headline" itemprop="description">{{ page.headline }}</p>

    <span itemprop="description">
      {{ content }}
    </span>
    
    {% include social-area.html %}
        
    {% include related-articles.html %}
    
  </div>

</article>
