---
layout: default
---

<!-- facebook javascript sdk -->
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.6";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<article class="post" itemscope itemtype="http://schema.org/MusicComposition">
    <div class="music-title-wrapper">
        <div class="music-hero-image" style="background-image: url( {{ page.hero-image }} )">
            <p class="image-headline">{{ page.image-by }}</p>
            <span itemprop="image" itemscope itemtype="http://schema.org/ImageObject">
              <meta itemprop="url" content="{{ page.hero-image }}" />
              <meta itemprop="width" content="450">
              <meta itemprop="height" content="450">
            </span>
        </div>
        <h1 class="music-title">{{ page.title }}</h1><br />
        <h2 class="music-subtitle">{{ page.subtitle }}</h2><br />
        <ol class="movement-list">
            {% for composition in page.movements %}
                <li><a href="#{{ composition.title | slugify }}">{{ composition.title }}</a></li>
            {% endfor %}
        </ol>
    </div>


  <div class="page-feed">
    <p class="headline" itemprop="description">{{ page.headline }}</p>
    
    {{ content }}

    <span class="composition-list">
        {% include composition-list.html %}
    </span>
    
    <!-- Place this tag where you want the +1 button to render. -->
    <div class="g-plusone" data-annotation="inline" data-width="300"></div>
    
    <!-- Place this tag after the last +1 button tag. -->
    <script type="text/javascript">
      (function() {
        var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
        po.src = 'https://apis.google.com/js/platform.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
      })();
    </script>
    
    <!-- facebook comments -->
    <div class="fb-comments" data-href="{{ site.url }}{{ page.url }}" data-width="100%" data-numposts="5"></div>
    
    <!-- facebook likes -->
    <!--<div class="fb-like" data-href="{{ site.url }}{{ page.url }}" data-layout="standard" data-action="recommend" data-show-faces="true" data-share="true"></div>-->
    
    {% include related-articles.html %}
    
  </div><!-- page feed -->

</article>
