<!DOCTYPE html>
<html>
  {% include head.html %}
  <body itemscope itemtype="http://schema.org/BlogPosting">
    <link itemprop="mainEntityOfPage" href="{{ site.url }}{{ page.url }}" />
    <meta itemprop="headline" content="{{ page.title }}" />
    
    <section class="page-content">
      <div class="width-control">
        {{ content }}
      </div>
    </section>

    <footer class="site-footer">
      <small itemprop="license">Unless otherwise mentioned, this webpage and its content is licensed by <a href="{{ site.url }}" target="_new" itemprop="url">DenisLabrecque.ca</a> under the <a href="http://creativecommons.org/licenses/by/4.0/" target="_new" rel="license">Attribution 4.0 International license.</a> You may quote and copy this material if you give correct credit to the author and do not distort or otherwise change the original meaning of his words.</small>
      <small>Copying any material on this website without giving correct credit to the author is both plagiarism and copyright infringment, and will be treated as such. 
        <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name">
          {% if page.author == "Denis G. Labrecque" %}
          <a href="https://plus.google.com/+DenisGLabrecque" rel="author" target="_new" itemprop="url">{{ page.author }}</a>
          {% else %}
            {% if page.author-url %}
            <a href="{{ page.author-url }}" rel="author" target="_new" itemprop="url">{{ page.author }}</a>
            {% else %}
            {{ page.author }}
            {% endif %}
          {{ page.author }}
          {% endif %}
        </span>
      </span> published this document on <span itemprop="datePublished" datetime="{{ page.date | date: '%Y-%m-%d' }}">{{ page.date | date: '%B %d, %Y' }}</span>. {% if page.lastmod %}It was last modified on <span itemprop="dateModified" datetime="{{ page.lastmod | date: '%Y-%m-%d' }}">{{ page.lastmod | date: '%B %d, %Y' }}</span>.{% endif %}</small>
    </footer>
    
    <span><!-- keeps labels from affecting each other -->
      <label class="sandwitch-menu" for="navigation-menu" title="Menu (access key = m)" accesskey="m">&#9776;</label>
      <input type="checkbox" id="navigation-menu" class="no-display" />
      <label class="no-display" for="navigation-menu" title="Close" accesskey="x"></label>

      <nav class="sandwitch-menu">
        <h3 itemprop="publisher" itemscope itemtype="https://schema.org/Organization">
          <span itemprop="name">{{ site.title[page.lang] }}</span>
          <span itemprop="logo" itemscope itemtype="https://schema.org/ImageObject">
            <meta itemprop="url" content="https://s-media-cache-ak0.pinimg.com/originals/77/fd/9c/77fd9c04231cc9b026484e87e8c9c758.png" />
          </span>
        </h3>
          <ul>
            <li><a class="site-title" href="{{ site.baseurl }}/{{ site.index[page.lang] }}">Home</a></li>
            <!-- single pages -->
            {% assign pages=site.pages | where:"lang", page.lang %}
            {% for my_page in pages %}
              {% if my_page.title %}
              <li><a class="page-link" href="{{ my_page.url | prepend: site.baseurl }}">{{ my_page.title }}</a></li>
              {% endif %}
            {% endfor %}

            <!-- posts -->
            {% assign posts=site.posts | where:"ref", page.ref | sort: 'lang' %}
            {% for post in posts %}
            <li><a href="{{ post.url }}" class="{{ post.lang }}">{{ post.lang }}</a></li>
            {% endfor %}

            <!-- languages -->
            {% assign pages=site.pages | where:"ref", page.ref | sort: 'lang' %}
            {% for page in pages %}
            <li><a href="{{ page.url }}" class="{{ page.lang }}">{{ page.lang }}</a></li>
            {% endfor %}
          </ul>
      </nav>
    </span>
  </body>
</html>
