---
layout: default
---
<article class="post">
  <figure class="hero-image" style="background-image: url( {{ page.hero-image }} )">
    <span itemprop="image" itemscope itemtype="http://schema.org/ImageObject">
      <meta itemprop="url" content="{{ page.hero-image }}" />
      <meta itemprop="width" content="1600">
      <meta itemprop="height" content="900">
    </span>
    <div class="hero-image">
      <h1 class="title"><span itemprop="headline">{{ page.title }}</span></h1>
      <div>
        <h2 class="subtitle"><span itemprop="alternateName">{{ page.subtitle }}</span></h2>
      </div>
      <p class="image-headline">{{ page.image-by }}</p>
      {% if page.cta-link %}
        <span class="popdown-span">
          <a class="share-link" href="{{ page.cta-link }}" target="_new">{{ page.cta-link-title }}</a>
        </span>
      {% endif %}
      {% if page.cta-title %}
          <span class="popdown-span">
             <label class="popdown" for="popdown-hero">{{ page.cta-title }}</label>
             <!--googleoff: all-->
             <input type="checkbox" id="popdown-hero" class="no-display" />

             <!--googleon: all-->
             <label class="citation-clickeater" for="popdown-hero"></label>

             <span class="citation">
                <label class="close-citation" for="popdown-hero"><i class="icon quit"></i></label>
                <span class="citation-content">
                   {{ page.cta-contents }}
                </span>
             </span>
          </span>
      {% endif %}
    </div>
  </figure>

  <div class="page-feed">
    <p class="headline" itemprop="description">{{ page.headline }}</p>
    {% if page.author != "Denis G. Labrecque" %}
      <p class="article-author">{% if page.lang == "en" %}By{% elsif page.lang == "fr" %}Par{% endif %} <a href="https://plus.google.com/+BrandonPetaccio" target="_new">{{ page.author }}</a></p>
    {% endif %}

    <span itemprop="articleBody">
      {{ content }}
    </span>
    
    {% include social-area.html %}
    
    {% include related-articles.html %}
    
  </div><!-- page feed -->

</article>
