---
layout: default
---

<!-- facebook javascript sdk -->
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.6";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>


<article class="post" itemscope itemtype="http://schema.org/BlogPosting">
  
  <figure class="hero-image" style="background-image: url( {{ page.hero-image }} )">
    <div class="hero-image">
      <h1 class="title"><span itemprop="name">{{ page.title }}</span></h1>
      <div>
        <h1 class="subtitle"><span itemprop="alternateName">{{ page.subtitle }}</span></h1>
      </div>
      <p class="image-headline">Image from author under <a href="http://creativecommons.org/licenses/by/4.0/" target="_new" rel="license">Attribution 4.0 International license.</a></p>
    </div>
  </figure>

  <div class="page-feed" itemprop="articleBody">
    <p class="headline" itemprop="headline">{{ page.headline }}</p>

    {{ content }}
    
    <!-- facebook comments -->
    <div class="fb-comments" data-href="{{ site.url }}{{ page.url }}" data-width="100%" data-numposts="5"></div>
    
  </div>

</article>
